*
!.gcloudignore
!detections.schema.json
!cloud/
cloud/*
!cloud/analysis-service/
cloud/analysis-service/*
!cloud/analysis-service/Dockerfile
!cloud/analysis-service/cloudbuild.yaml
!cloud/analysis-service/requirements.txt
!cloud/analysis-service/analysis_service/
!cloud/analysis-service/analysis_service/**
!pipeline/
pipeline/*
!pipeline/stages.py
!pipeline/gemini_harness/
!pipeline/gemini_harness/**
